<app-header></app-header>
<div class="breadcrumb-area section-padding-1 bg-gray breadcrumb-ptb-1">
  <div class="container-fluid">
      <div class="breadcrumb-content text-center">
          <div class="breadcrumb-title">
              <h2>Manager List Comments</h2>
          </div>
      </div>
  </div>
</div>
<br>
<div class="container">
    <div id="des-details3" class="tab-pane ">
      <div class="review-wrapper">
          <h2>Review</h2>
          <div *ngFor="let item of comments" class="single-review">
              <div class="review-img">
                  <img src="assets/images/product-details/client-1.jpg" alt="">
              </div>
              <div class="review-content">
                  <div class="review-top-wrap">
                      <div class="review-name">
                              <p *ngIf="item.author !=null"> <b>{{item.author.username}}</b></p>
                              <p *ngIf="item.author ==null">No author</p>
                              <div class="review-img">
                                <img width="80px" height="80px"
                                    src="{{baseurl}}/media/{{item.author.img_profile}}" alt="">
                            </div>
                              <p>{{item.text}}</p>
                              <br>
                              <button type="button" class="btn btn-danger" (click)="delete(item.id)">Delete</button>
                              <a routerLink="/info/phone/{{item.product}}">
                                <button type="button" class="btn btn-warning" style="margin-left:30px;">Product info</button>
                              </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>