<footer class="footer-area border-top-2" style="margin-top:50px;">
    <div class="container">
        <div class="footer-top pt-100 pb-35">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-4">
                    <div class="footer-logo footer-logo-ngtv-mrg f-logo-small-left">
                        <a href="index.html">
                            <img src="../assets/logo_transparent.png" width="200px" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="footer-ml-95">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12 col-sm-6">
                                <div class="footer-widget footer-mrg-1 mb-55">
                                    <h3 class="footer-title">Poular Categories</h3>
                                    <div class="footer-info-list">
                                        <ul>
                                            <li><a href="#">Smartphones</a></li>
                                            <li><a href="#">Telephones</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="footer-widget footer-mrg-1 mb-55">
                                    <h3 class="footer-title">Hot Tags</h3>
                                    <div class="footer-info-list">
                                        <ul>
                                            <li><a routerLink= " ">Main </a></li>
                                            <li><a routerLink="/profile">Profile</a></li>
                                            <li><a routerLink="/bin">Bin</a></li>
                                            <li><a routerLink="/faq">Faq</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12 col-sm-6">
                                <div class="footer-widget footer-mrg-2 mb-55">
                                    <h3 class="footer-title">Contact info</h3>
                                    <div class="footer-info-list">
                                        <ul>
                                            <li>Phone: +555-55-55</li>
                                            <li>Email: info@la-s.com</li>
                                            <li>Open time: 9:00 - 19:00, Monday - Saturday</li>
                                            <li>Local: 121 King Street, Melbourne <br>Victoria 3000 Australia</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom footer-bottom-pb">
            <div class="row align-items-center">
                <div class="col-md-6 col-12">
                    <div class="copyright">
                        <p>© 2023 First Project. <a target="_blank" href="https://hasthemes.com/">All rights reserved.</a></p>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="footer-payment footer-payment-right">
                        <a href="#"><img src="assets/images/icon-img/payment.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>