<app-header></app-header>
<div class="breadcrumb-area section-padding-1 bg-gray breadcrumb-ptb-1">
  <div class="container-fluid">
    <div class="breadcrumb-content text-center">
      <div class="breadcrumb-title">
        <h2>My Account</h2>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div *ngIf="profile">
      <img src="{{baseurl}}/media/{{profile.img}}" width="250px">
    </div>
    <div class="col-md-9">
      <div class="account-details-form">
        <form [formGroup]="form" (ngSubmit)="update()">
          <div class="single-input-item">
            <label for="first-name" class="required">Nickname</label>
            <input type="text" id="first-name" formControlName="nickname">
          </div>
          <div class="single-input-item">
            <label for="first-name" class="required">Phone</label>
            <input type="text" id="first-name" formControlName="phone">
          </div>
          <div class="single-input-item">
            <label for="first-name" class="required">Viber</label>
            <input type="text" id="first-name" formControlName="viber">
          </div>
          <div class="single-input-item">
            <label for="first-name" class="required">Telegram</label>
            <input type="text" id="first-name" formControlName="telegram">
          </div>
          <div class="form-group" style="margin-top:30px;">
            <img style="width: 200px" [src]="imageUrl" alt="">
            <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target)">
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>