<app-header></app-header>
<div class="container">
    <div class="row">
        <hr>
        <div class="col-md-6">
            <div class="product-details-tab">
                <div class="product-dec-right pro-dec-big-img-slider">
                    <div class="easyzoom-style">
                        <div class="easyzoom easyzoom--overlay">
                            <div *ngIf="img" class="pro-dec-next-prev">
                                <a *ngIf="index_img > 0" class="prev " (click)="prev_img()"
                                    style="margin-right:10px;"><i class=" ti-arrow-left"></i></a>
                                <a>
                                    <img src="{{baseurl}}/media/{{img.img}}" width="300px">
                                </a>
                                <a *ngIf=" index_img < img_list.length-1 " class="next" (click)="next_img()"
                                    style="margin-left:10px;"><i class=" ti-arrow-right  "></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="info" class="col-md-6">
            <div class="product-details-wrap pro-dec-res-mrg-top">
                <div class="product-details-content pro-dec-content-left">
                    <h2 class="uppercase">{{info.name}}</h2>
                    <div class="pro-dec-info-wrap">
                        <div class="pro-dec-ratting-wrap">
                            <div class="pro-dec-ratting">
                                <i *ngIf="info.stars > 0" class="yellow fa fa-star"></i>
                                <i *ngIf="info.stars == 0" class="fa fa-star"></i>
                                <i *ngIf="info.stars > 1" class="yellow fa fa-star"></i>
                                <i *ngIf="info.stars < 2" class="fa fa-star"></i>
                                <i *ngIf="info.stars > 2" class="yellow fa fa-star"></i>
                                <i *ngIf="info.stars < 3" class="fa fa-star"></i>
                                <i *ngIf="info.stars > 3" class="yellow fa fa-star"></i>
                                <i *ngIf="info.stars < 4" class="fa fa-star"></i>
                                <i *ngIf="info.stars > 4" class="yellow fa fa-star"></i>
                                <i *ngIf="info.stars < 5" class="fa fa-star"></i>
                            </div>
                            <a href="#"> 5 Customer Review</a>
                        </div>
                    </div>
                    <h3>${{info.price}}</h3>
                    <div class="product-details-peragraph">
                        <p>{{info.description}}</p>
                    </div>
                    <div class="row">
                        <div class="product-details-action-wrap">
                            <div class="product-details-cart">
                                <a title="Add to cart" (click)="add_to_basket()">Add to Bin</a>
                            </div>
                            <div class="product-details-wishlist">
                                <a title="Add to wishlist" routerLink="/desire/goods"><i class="fa fa-heart-o"></i></a>
                            </div>
                            <div class="product-details-compare">
                                <a title="Add to compare" routerLink="/product/comparison"><i
                                        class="fa fa-compress"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="margin-top:50px;">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="description-review-wrapper">
                        <div class="description-review-topbar nav">
                            <a class="active" data-toggle="tab" href="#des-details1">Additional-info</a>
                            <a data-toggle="tab" href="#des-details2">Reviews</a>
                            <a data-toggle="tab" href="#des-details3">Description</a>
                            <a data-toggle="tab" href="#des-details4">Videos</a>
                        </div>
                        <div class="tab-content description-review-bottom">
                            <div id="des-details1" class="tab-pane active">
                                <div class="product-description-wrapper">
                                    <div class="row">
                                        <div id="des-details1" class="tab-pane">
                                            <div class="additional-info">
                                                <ul *ngFor="let item of specification_list">
                                                    <li><span>{{item.specification}}</span>{{item.specification_value}}
                                                    </li>
                                                    <br>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="des-details2" class="tab-pane">
                                <div class="review-wrapper">
                                    <h2>Review</h2>
                                    <div *ngFor="let item of comment_list" class="single-review">
                                        <div class="review-img">
                                            <img width="80px" height="80px"
                                                src="{{baseurl}}/media/{{item.author.img_profile}}" alt="">
                                        </div>
                                        <div class="review-content">
                                            <div class="review-top-wrap">
                                                <div class="review-name">
                                                    <p *ngIf="item.author !=null"> <b>{{item.author.username}}</b></p>
                                                    <p *ngIf="item.author ==null">No author</p>
                                                    <p>{{item.text}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="des-details3" class="tab-pane ">
                                <div class="about-shiping-content">
                                    <p *ngIf="info">{{info.text}}</p>
                                </div>
                            </div>
                            <div id="des-details4" class="tab-pane ">
                                <div *ngIf="videos.length > 0">
                                    <div class="row">
                                        <div *ngFor="let url_item of list_url" class="col-md-4">
                                            <iframe [src]="url_item"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>